body{
	background-image: url("../images/gradient-background.png");
	background-repeat: no-repeat;
	font-family: 'Droid Sans', sans-serif bold;
}

.black-transparent{
/*	background-color: #000;
 	-khtml-opacity:.50; 
 	-moz-opacity:.50; 
 	-ms-filter:”alpha(opacity=50)”;
  	filter:alpha(opacity=50);
  	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
  	opacity:.50; 
  	height: 500px;
  	top: 150px;*/
  	background-color: rgba(0,0,0,0.4);
  	border-radius: 8px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* navbar */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
/* title */
.navbar-default .navbar-brand {
    color: #FFEFD5;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFEFD5;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #8FBC8F;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFEFD5;
    border-bottom-color: #FFEFD5;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FFEFD5;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

ul{
    list-style: none;
}

.box-li {
    height: 30px;  
    margin: 0 0 7px 0;
    padding: 5px 0 0 20px;
    text-decoration: none;
}

.box-marine{
    border-left: 5px solid #F5876E;

    background: #66CDAA; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #66CDAA , transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #66CDAA, transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #66CDAA, transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #66CDAA , transparent); /* Standard syntax */
}